In [2]:
import os
import pandas
import polars

from thefuzz import fuzz

In [3]:
BASE = "/mnt/hlilabshare/khyunjin1993/tpour/"
# FILES = [_ for _ in os.listdir(BASE) if _.split(".")[-1] in ["json", "jsonl"]]
FILES = [_ for _ in os.listdir(BASE) if "all_info" in _]

dfs = {f: polars.scan_ndjson(os.path.join(BASE, f)) for f in FILES}

dfs.keys()

dict_keys(['20181220_20211220_20231220_all_diff_rm_test_doc_finetuning_data_p25_target_trimmed_all_info_20231220.jsonl', '20181220_20211220_20231220_all_diff_rm_test_doc_finetuning_data_p25_target_trimmed_all_info_20181220.jsonl', '20181220_20211220_20231220_all_diff_rm_test_doc_finetuning_data_p25_target_trimmed_all_info_20211220.jsonl'])

In [ ]:
# df = pandas.read_json(PATH, lines=True)

In [4]:
i = 1000
df = dfs[list(dfs.keys())[1]]
df = df.collect()
# temp = df.slice(i-1000, i).collect()

# temp.columns

In [35]:
df.group_by("q_id").len().sort("len")

shape: (206_025, 2)
┌──────────┬─────┐
│ q_id     ┆ len │
│ ---      ┆ --- │
│ str      ┆ u32 │
╞══════════╪═════╡
│ 13921998 ┆ 1   │
│ 11693370 ┆ 1   │
│ 10275800 ┆ 1   │
│ 15291375 ┆ 1   │
│ 15473493 ┆ 1   │
│ …        ┆ …   │
│ 1308994  ┆ 149 │
│ 12649182 ┆ 151 │
│ 12686    ┆ 154 │
│ 11153273 ┆ 154 │
│ 10398449 ┆ 156 │
└──────────┴─────┘

In [10]:
temp = df.filter(polars.col("q_id") == "10059591")

temp

shape: (0, 6)
┌──────┬─────────┬─────────────┬──────────┬─────────────────┬────────────────────┐
│ q_id ┆ q_title ┆ q_timestamp ┆ question ┆ positive_ctxs   ┆ weak_positive_ctxs │
│ ---  ┆ ---     ┆ ---         ┆ ---      ┆ ---             ┆ ---                │
│ str  ┆ str     ┆ str         ┆ str      ┆ list[struct[5]] ┆ list[struct[5]]    │
╞══════╪═════════╪═════════════╪══════════╪═════════════════╪════════════════════╡
└──────┴─────────┴─────────────┴──────────┴─────────────────┴────────────────────┘

In [10]:
1.1 / 98.9 * 100

1.1122345803842266

In [4]:
temp = df.filter(polars.col("question").str.contains("2018"))

len(temp)

17438

In [5]:
temp = df.filter(~polars.col("question").str.contains(r"[1-2][0-9][0-9][0-9]"))

len(temp) / len(df) * 100

32.09833000711123

In [6]:
len(temp)

223882

In [9]:
temp["q_title"]

shape: (223_882,)
Series: 'q_title' [str]
[
	"Bastra"
	"Tip and ring"
	"Basu"
	"Accons"
	"South Brooksville, Florida"
	…
	"Wrack zone"
	"Christmas in Ukraine"
	"Sir Matt Busby Player of the Y…
	"Pawhuska, Oklahoma"
	"Tyonek, Alaska"
]

In [142]:
d = df.filter(polars.col("q_title").str.contains("Stock"))

d["q_title"]

shape: (576,)
Series: 'q_title' [str]
[
	"1881 Chicago White Stockings s…
	"London Underground R Stock"
	"Stockholm County"
	"London Underground Standard St…
	"Luxembourg Stock Exchange"
	…
	"BoE Stockbrokers"
	"Stockton, New Jersey"
	"Stockport, Iowa"
	"1888 Cincinnati Red Stockings …
	"Stockdale, Pennsylvania"
]

In [140]:
j = 0

d["q_id"][j], d["q_title"][j], d["q_timestamp"][j], d["question"][j], len(d["positive_ctxs"][j]), [_ for _ in d["positive_ctxs"][j] if _["d_id"]==d["q_id"][j]], [_ for _ in d["weak_positive_ctxs"][j] if _["d_id"]==d["q_id"][j]]

('1543486',
 'Third plague pandemic',
 '2023-12-15 00:00:00',
 "Third plague pandemic bubonic plague pandemic, beginning 1855the third plague pandemic was a major bubonic plague pandemic that began in yunnan, china, in 1855. this episode of bubonic plague spread to all inhabited continents, and ultimately led to more than 12 million deaths in india and china (and perhaps over 15 million worldwide), and at least 10 million indians were killed in british raj india alone, making it one of the deadliest pandemics in history. according to the world health organization, the pandemic was considered active until 1960 when worldwide casualties dropped to 200 per year. plague deaths have continued at a lower level for every year since.the name refers to the third of at least three known major plague pandemics. the first began with the plague of justinian, which ravaged the byzantine empire and surrounding areas in 541 and 542; the pandemic persisted in successive waves until the middle of the 8th century. the second began with the black death, which killed at least one third of europe's population in a series of expanding waves of infection from 1346 to 1353; this pandemic recurred regularly until the 19th century.casualty patterns indicate that waves of this late-19th-century/early-20th-century pandemic may have come from two",
 10,
 [],
 [{'d_id': '1543486',
   'd_title': 'Third plague pandemic',
   'd_timestamp': '2023-12-15 00:00:00',
   'text': "Third plague pandemic bubonic plague pandemic, beginning 1855the third plague pandemic was a major bubonic plague pandemic that began in yunnan, china, in 1855. this episode of bubonic plague spread to all inhabited continents, and ultimately led to more than 12 million deaths in india and china (and perhaps over 15 million worldwide), and at least 10 million indians were killed in british raj india alone, making it one of the deadliest pandemics in history. according to the world health organization, the pandemic was considered active until 1960 when worldwide casualties dropped to 200 per year. plague deaths have continued at a lower level for every year since.the name refers to the third of at least three known major plague pandemics. the first began with the plague of justinian, which ravaged the byzantine empire and surrounding areas in 541 and 542; the pandemic persisted in successive waves until the middle of the 8th century. the second began with the black death, which killed at least one third of europe's population in a series of expanding waves of infection from 1346 to 1353; this pandemic recurred regularly until the 19th century.casualty patterns indicate that waves of this late-19th-century/early-20th-century pandemic may have come from two",
   'doc_score': '0.8722034096717834'},
  {'d_id': '1543486',
   'd_title': 'Third plague pandemic',
   'd_timestamp': '2023-12-15 00:00:00',
   'text': 'Third plague pandemic different sources. the first was primarily bubonic and was carried around the world through ocean-going trade, through transporting infected persons, rats, and cargoes harboring fleas. the second, more virulent strain, was primarily pneumonic in character with a strong person-to-person contagion. this strain was largely confined to asia.origins.the bubonic plague was endemic in populations of infected ground rodents in central asia and was a known cause of death among the migrant and established human populations in that region for centuries. an influx of new people because of political conflicts and global trade led to the spread of the disease throughout the world from asia to the rest of europe, to reach africa and the americas.a natural reservoir or nidus for plague is in western yunnan and is still an ongoing health risk. the third pandemic of plague originated in the area after a rapid influx of han chinese to exploit the demand for minerals, primarily copper, in the second half of the 19th century. by 1850, the population had exploded to over 7 million people. increasing transportation throughout the region brought people in contact with plague-infected fleas, the primary vector between the yellow-breasted rat ("rattus flavipectus") and humans. people brought the',
   'doc_score': '1.8509812355041504'},
  {'d_id': '1543486',
   'd_title': 'Third plague pandemic',
   'd_timestamp': '2023-12-15 00:00:00',
   'text': 'Third plague pandemic argentina in 1945.1894 hong kong plague.the 1894 hong kong plague was a major outbreak of the third global pandemic from the late 19th century to the early 20th century. the first case, discovered in may 1894, was a hospital clerk who had just returned from canton. the hardest hit was the mountainous area in sheung wan, the most densely-populated area in hong kong, characterised by chinese-style buildings. from may to october 1894, the plague killed more than 6,000 people, leading to the exodus of one third of the population. in the 30 years starting in 1926, the plague occurred in hong kong almost every year and killed more than 20,000 people. through maritime traffic, the epidemic spread to the rest of the country after 1894 and eventually spread to british raj india where about ten million indians were killed.there were several reasons for the rapid outbreak and spread of the plague. firstly, in the early days, sheung wan was a chinese settlement. houses  -  in the mountains  -  had no drainage channels, toilets, or running water. the houses were small and the floors were not paved. secondly, during the ching ming festival in 1894, many chinese',
   'doc_score': '1.9937961101531982'}])