In [1]:
import os
import pandas

## Convert filter

In [2]:
BASE = "../beir"
DIRS = [os.path.join(BASE, path) for path in os.listdir(BASE)]

for d in DIRS:
    NAME = os.path.basename(d).split(".")
    if NAME[-1] not in ["json", "jsonl"]:
        continue
    df = pandas.read_json(d, lines=NAME[-1] == "jsonl")
    df.iloc[:, 1:].to_csv(
        f"../beir/{NAME[0]}.csv",
        index=False,
        encoding="utf-8"
    )

In [17]:
NAME = os.path.basename(DIRS[22]).split(".")
df = pandas.read_json(DIRS[22], lines=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134619 entries, 0 to 134618
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      134619 non-null  int64
 1   label   134619 non-null  bool
dtypes: bool(1), int64(1)
memory usage: 1.2 MB

In [ ]:
pandas.concat(
    [
        df.iloc[:, 1],
        pandas.DataFrame([False] * (509962 - len(df)))
    ], ignore_index=True
).to_csv(
    f"../beir/{NAME[0]}.csv",
    index=False,
    encoding="utf-8"
)

## Filtering

In [3]:
BASE = "../beir"
DIRS = {os.path.basename(path).split(".")[0]: os.path.join(BASE, path) for path in os.listdir(BASE) if os.path.basename(path).split(".")[-1] == "csv"}

In [4]:
dist = []
for NAME in DIRS.keys():
    df_filter = pandas.read_csv(DIRS[NAME])
    l = len(df_filter)
    ratio = df_filter.values.sum() / l
    dist.append({
        "name": NAME,
        "length": l,
        "ratio": float(ratio) * 100
    })
df = pandas.DataFrame(dist)

df.sort_values("ratio", ascending=False)

                name  length      ratio
0           hotpotqa   97852  39.790704
4              fever  123142  18.255347
3      climate-fever    1535   9.315961
2            msmarco  509962   7.602527
13           arguana    1406   4.409673
10             quora   15000   2.180000
1               fiqa    6648   1.925391
6                 nq    3452   1.853998
9     dbpedia-entity     467   1.284797
12           scifact    1109   0.270514
7            scidocs    1000   0.100000
8           nfcorpus    3237   0.061786
5   webis-touche2020      49   0.000000
11        trec-covid      50   0.000000

In [8]:
BASE = "/mnt/hlilabshare/jjunshim/data/beir"

In [31]:
NAME = 'msmarco'
df_filter = pandas.read_csv(DIRS[NAME])

df_filter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 509962 entries, 0 to 509961
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   label   509962 non-null  bool
dtypes: bool(1)
memory usage: 498.1 KB

In [32]:
df = pandas.read_json(os.path.join(BASE, NAME, "queries.jsonl"), lines=True)
df_temp = df[df_filter.values]

df_temp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38770 entries, 0 to 509902
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   _id       38770 non-null  int64
 1   text      38770 non-null  object
 2   metadata  38770 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.2+ MB

In [33]:
a = df_temp.sample(10)

a

            _id                                               text metadata
390494  1168064                   weather in breckenridge colorado       {}
505410  1097894                         how long lsd last in urine       {}
358149   941584       when did the first leprechaun movie come out       {}
161256   946263            when does cvs pharmacy open in carlisle       {}
402036   937375  when did automatic transmissions become the st...       {}
508536   953351                      when is the release of wonder       {}
399073   920353          what was the first event of the civil war       {}
461922   394540         in what year did the zip code system start       {}
399110   942008      when did the new zealand flag come into being       {}
421841   448121                          meaning of last name taft       {}

In [40]:
i = 7

df_temp.iloc[i]

_id                                       512836
text        temperature sorrento italy september
metadata                                      {}
Name: 100, dtype: object

In [41]:
print(df_temp.metadata.values[i], df_temp.text.values[i], sep="\n")

{}
temperature sorrento italy september